<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CUITAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CUITAdmin.Properties.Settings.CUIT_TRIALConnectionString"
            connectionString="Data Source=CUITS\CUITS;Initial Catalog=CUIT_TRIAL;User ID=DataAdmin;Password=noforyoureyes67"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CUITAdmin.Properties.Settings>
            <setting name="InvoicePath" serializeAs="String">
                <value>C:\</value>
            </setting>
        </CUITAdmin.Properties.Settings>
    </userSettings>
    <appSettings>
      <add key="StandaloneMode" value="true"/>
    </appSettings>
</configuration>