<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BarnsApp.Properties.Settings.SecondaryLoginConnectionString"
            connectionString="Data Source=CUITS\CUITS;Initial Catalog=SecondaryLogin;User ID=DataAdmin;Password=noforyoureyes67"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>