<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CUITAdmin.Properties.Settings.CUIT_TRIALConnectionString"
            connectionString="Data Source=CUITS\CUITS;Initial Catalog=CUIT_TRIAL;User ID=DataAdmin;Password=noforyoureyes67"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>